<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Munchster</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>recipetok</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.655435823575-1qmnor8p06cv7f528ifcnofhuuq8o1fo</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.recipetok.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>recipetok</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAllowsLocalNetworking</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCachesDirectory</key>
	<string>We temporarily store images in the cache to improve app performance and reduce data usage. These cached images are automatically cleared when storage space is needed.</string>
	<key>NSCameraUsageDescription</key>
	<string>We use your camera to let you record cooking videos and share your recipes with other users. The videos you create will be stored in the app and can be shared on your profile.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We save your recorded recipe videos to your photo library so you can access them later and share them through other apps. You can delete these videos from your library at any time.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Access to your photo library allows you to select existing videos to create recipe tutorials. You can choose which videos to share, and they will only be uploaded when you explicitly choose to post them.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>The microphone is used to record your voice-over instructions while creating recipe videos. This audio will be combined with your video to create complete cooking tutorials that can be shared with other users.</string>
	<key>GIDClientID</key>
	<string>${CLIENT_ID from GoogleService-Info.plist}</string>
	<key>CFBundleURLSchemes</key>
	<array>
		<string>${REVERSED_CLIENT_ID from GoogleService-Info.plist}</string>
	</array>
	<key>com.apple.developer.applesignin</key>
	<array>
		<string>Default</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>sms</string>
		<string>tel</string>
		<string>mailto</string>
		<string>whatsapp</string>
		<string>instagram</string>
		<string>twitter</string>
		<string>fb</string>
		<string>fbapi</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to save meal preview cards to your photo library when sharing.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need access to save meal preview cards to your photo library when sharing.</string>
	<key>FirebaseDynamicLinksCustomDomains</key>
	<array>
		<string>https://recipetok.page.link</string>
	</array>
</dict>
</plist>
